.NameGroup {
    height: 16px;
    /*font-family: Inter;*/
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    /* or 200% */

    display: flex;
    align-items: center;
    /* @heading-color */
    color: rgba(0, 0, 0, 0.85);
}

.GroupMargin {
    margin-bottom: 16px;
    margin-top: 16px;
}

.NameGroupWrapper {
    margin-bottom: 32px;
    margin-top: 24px;
}

