.loginModal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1184px;
    max-height: 408px;
    border: #282c34 solid 1px;
    margin: auto;

}


.loginForm {
    /*flex: 1;*/
    max-width: 352px;
    max-height: 408px;
    border-radius: 16px;
    background-color: #FFFFFF;
    border: #282c34 solid 1px;
    padding: 15px;
}

.organizationInfo {
    /*flex: 1;*/
    /*border: #282c34 solid 1px;*/
}