.LoginFormWrapper {
    padding: 40px;
    margin: auto;
}



.login-form {
    max-width: 352px;
    padding: 0px;
    margin: -16px;
    /*background-color: #282c34;*/

}

.login-form-forgot {
    float: right;
}


.ant-col-rtl .login-form-forgot {
    float: left;
}


.BtnForm {
    width: 272px;
    height: 40px;
    border-radius: 8px;

    margin-bottom: 8px;

}

.Enter {
    margin-bottom: 24px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.85);
}

.CantEnter {
    height: 16px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.85);
}

.HelpInfo {
    width: 272px;
    height: 40px;
    margin-top: 16px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.65);
}
