
.EditingPlacesForm{
    width: 472px;
    height: 640px;
    padding: 16px;
    top: calc(50% - 640px/2);

    border-radius: 16px;
    /*background: #FFFFFF;*/

    background-color: dimgrey;
}

.EditingHeaderForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.IBStyle {
    height: 40px;
    border-radius: 8px;
}

.Input {
    width: 216px;
}