


* {
  box-sizing: border-box;
}

body {
  /*padding: 0;*/
  /*margin: 0;*/
  font-family: 'Inter', monospace;
  line-height: 1.5;
  /*background-color: #F0F2F5;*/


}

.app {
  min-height: 100vh;
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
  background: #F0F2F5;
  /*color: #2c888d;*/
}

/*.InnerWrap {*/
/*  margin-right: 64px;*/
/*}*/


