.organizationInfo {
    /*max-width: 620px;*/
    /*max-height: 48px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: #282c34 solid 0px;

}

.tyumenLogo {
    margin-right: 19px;
}

.tyumenLogo img {
    width: 61px;
    height: 48px;
}

/*.organizationText {*/

/*}*/

.organizationTitle {
    /*font-family: Inter;*/
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.signature {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    opacity: 45%;
}


p {
    padding: 0;
    margin: 0;
}